    $black: #222222;
    $light-pink: #F1E4E6;
    $white: #FFFFFF;
    $silver: #9F9F9F;
    $white-silver: #B1B1B1;  
    $white-silver-2: #A4A4A4;  
    $delivery-color: #FBFBFB;
    $white--red:#F16D7F;
    $black-pink: #E05C6E;
    $black-product: #000000;
    $backgraund-product: #F8F8F8;
    $black-silver: #5D5D5D;
    $backgraund-input: #E1E1E1;
    $light-beige: #F8F3F4;
    $dark-white: #E8E8E8;
    $background-check: #F5F3F3;
    $color-text-check: #4A4A4A;
    $color-line-check:#E2E2E2;

    $font-lato: 'Lato', sans-serif;